.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .bottom-navbar .nav-item button {
    border: none;
    background: none;
    color: #795458;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom-navbar .nav-item i {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .thin {
    font-weight: normal;
  }

  .bold {
    font-weight: bold;
  }

  .text-primary {
    color: #795458 !important;
  }

  .kec {
    overflow-x: auto;
  }

  .kec-container {
    overflow-x: scroll;
    /* Gaya tambahan untuk container jika diperlukan */
    white-space: nowrap;
    /* Mencegah teks otomatis pindah ke baris baru */
  }

  @media (min-width: 768px) {
    .navbar {
      display: none;
    }

    #welcome-name{
      display: none;
    }

    .sidebar {
      display: block;
    }

    .content {
      margin-left: 200px;
    }

    .bottom-navbar {
      display: none;
    }

    .container-fluid {
      display: fle;
    }
  }

  @media (max-width: 767px) {
    .sidebar {
      display: none;
    }
    #profile-destop {
      display: none;
    }

    #mobile-btn{
      display: flex;
      justify-content: end;
      gap: 10px;
    }
    /* #card-detail{
      margin-right: 20px;
    }
    #tambah-mobile-btn{
      margin-right: 20px;
    }
    
    #modal-tambah{
      margin-right: 20px;
    } */

    #welcome-name{
      font-weight: bold;
    }

    .bottom-navbar .row {
      padding: 1% 3%;
      display: flex;
      justify-content: space-between;
    }

    #mobile-collapse {
        display: none;
      }
  
  }